
.category {
width: 100%;
}

.category header {
  background-color: #fff;
  color: #0D2436;
  margin-bottom: 20px;
  padding: 10px 0;
  width: 100%;
}

.nominees-container {
  display: flex;
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
}
