
.category {
  width: 100%;
  margin: 50px 0;
  margin: 30px auto;
  max-width: 410px;
}

.category header {
  background-color: #ccc;
  color: #0D2436;
  margin-bottom: 20px;
  padding: 5px 0;
  width: 100%;
}

.nominees-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-around;
}

@media screen and (min-width: 820px) {
  .category {
    max-width: 820px;
  }
}

@media screen and (min-width: 1230px) {
  .category {
    max-width: 1230px;
  }
}
