.nominee {
  background-color: #fff;
  color: #0D2436;
  margin: 5px;
  max-height: 500px;
  max-width: 400px;
  width: 500px;
  height: 650px;
}

.nominee img {
max-height: 400px;
max-width: 350px;
}

img {
  max-width: 330px;
  object-fit: cover;
}

.nominee.selected {
  background-color: #009B86;
}

.nominee:hover {

}
